.navBar{
	position: relative;
	height: 3.5%;																	
	min-height:2.3em;															
	z-index:999;
	background-color: black;
	padding: 0em 1em;
	text-transform: uppercase;
}

#youtube_load {
	margin-left: 1.3em;
}

.navText{
	position: relative;
	display: inline;

	top: 0.25em;
	height:1.5em;
	/*font-family: Helvetica, sans-serif;
	font-weight: bold;*/
	font-size: 1.5em;
	/* color: rgb(110,110,110); */
	margin: 0em;
	cursor: pointer;
}


.navText:hover {
	color: white;
}

.navStatus {
	position: relative;
	display: inline;

	top: 0.15em;
	height:1.5em;
	/*font-family: Helvetica, sans-serif;
	font-weight: lighter;*/

	font-size: 1.2em;
	margin-right: 1em;
	color: white;
}

#navControls {
	position:relative;
	display: inline;
	top: 0.1em;																		
	height:1.5em;
}

.navInput {
	position: relative;
	display: inline;
	top: 0em;																		
	height:1.3em;
	/*font-family: Helvetica, sans-serif;
	font-weight: normal;*/
	padding: 0px;
	border-style: none;
}

#ytURL {
	border-style: none;
	padding: 0.2em;
	font-size: 0.75em;
	background-color: rgb(225, 225, 225);
	color: black;
	margin-right: 1em;
}

#ytURL:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(110,110,110);
}

#ytURL:focus {
	outline: none;
}

#ytURLButton {
	top: .4em;
}

.navButton {
	position: relative;
	top: 0.26em;
	border-style: none;
	background-color: black;
	cursor: pointer;
	padding: 0;
}

.navButton:hover {
	color: white;
}

#logo_link {
	position: absolute;
	top: .6em;
	right: 1em;
}

#logo {
	height:1.3em;
}

#progressBarBox {
	position:relative;
	background-color: #333;										
	left:0em;
	bottom:0em;
	width:100%;
	height:0.5%;										
	min-height:3px;										
}

#progressBar {
	position:absolute;
	background-color: white;
	opacity: 0.8;
	width: 0%;
	height:100%;
}
