#basic_mgfx .container {
	position: relative;
	background-color: white;
	height: 100%;
	width: 100%;
	font-size: 100px;
	text-transform: lowercase;
}

#basic_mgfx .sentenceObject {
	position: absolute;
}

#basic_mgfx .wordContainer {
	position: relative;
	display: inline;
	visibility: hidden;
}

#basic_mgfx .wordObject {
	position: absolute;
	top: 0px;
	left: 0px;
	display: inline;
	visibility: visible;
}