#fading_words .container {
	width:2560px;
	height:200%;
	background-color: rgb(200,200,200);
}

#fading_words .bigText{
	position:absolute;
	top:0px;
	left:0px;
	font-size: 260px;

	transition: color 1s ease-out, opacity 2s linear;
	-webkit-transition: color 1s ease-out, opacity 2s linear;
}	