#flaming_dolphins {
	background-color: gray;
}

#dolphin_disk {
	position: absolute;
	left: 10%;
	width: 75%;
	height: 25%;
	bottom: 600px;
	text-align: justify;
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation: disk 150s;
	-webkit-animation-delay: 30s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes disk
{
	0%		{-webkit-transform: perspective(1000px) rotateX(0deg) rotateZ(0deg);}
	10%		{-webkit-transform: perspective(900px) rotateX(30deg) rotateZ(60deg);}
	20%		{-webkit-transform: perspective(800px) rotateX(60deg) rotateZ(120deg);}
	30%		{-webkit-transform: perspective(700px) rotateX(70deg) rotateZ(180deg);}
	40%		{-webkit-transform: perspective(600px) rotateX(75deg) rotateZ(240deg);}
	50%		{-webkit-transform: perspective(500px) rotateX(80deg) rotateZ(300deg);}
	60%		{-webkit-transform: perspective(400px) rotateX(85deg) rotateZ(360deg);}
	70%		{-webkit-transform: perspective(400px) rotateX(85deg) rotateZ(420deg);}
	80%		{-webkit-transform: perspective(400px) rotateX(85deg) rotateZ(480deg);}
	90%		{-webkit-transform: perspective(400px) rotateX(85deg) rotateZ(540deg);}
	100%	{-webkit-transform: perspective(1000px) rotateX(0deg) rotateZ(720deg);}
}

#dolphin_disk .base {
	position: relative;
	color: black;
}

#dolphin_disk .basehidden {
	position: relative;
	color: black;
	visibility: hidden;
}

#dolphin_disk .funct { 
	position: absolute;
	visibility: visible;
	left: 0px;
	z-index: 1;
	-webkit-animation: funct 10s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
}


@-webkit-keyframes funct
{
0%		{color: black; -webkit-transform: translateZ(0px) rotateY(0deg);}
15%		{color: red; }
50%		{color: yellow; -webkit-transform: translateZ(100px) rotateY(180deg);}
85%		{color: red; }
100%	{color: black; -webkit-transform: translateZ(0px) rotateY(360deg);}
}