#highlighter .container {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	min-height: 100%;
	overflow: scroll;
	/* background-color: rgb(245, 242, 226); */
}

#highlighter .transcript 
{
	padding: 24px;
}

#highlighter .color-tween
{
	transition:color 1.0s linear;
	-webkit-transition:color 1.0s linear;
}

#highlighter .bgcolor-tween
{
	transition:background-color 1.0s linear;
	-webkit-transition:background-color 1.0s linear;
}

#highlighter .white
{
	color: rgb(245, 242, 226);
}

#highlighter .bg-white
{
	background-color: rgb(245, 242, 226);
}

