#john_rothenberg .container {
	position: absolute;
	top: 0;
	left: 0;
	width:98%;
	min-height: 100%;
	overflow: scroll;
	padding: 24 24 24 24;
	/* background-color: rgb(245, 242, 226); */
}

#john_rothenberg .color-tween
{
	transition:color 0.5s linear;
	-webkit-transition:color 0.5s linear;
}

#john_rothenberg .bgcolor-tween
{
	transition:background-color 0.5s linear;
	-webkit-transition:background-color 0.5s linear;
}

#john_rothenberg .white
{
	color: rgb(245, 242, 226);
}

#john_rothenberg .bg-white
{
	background-color: rgb(245, 242, 226);
}

