#mad_lib .container {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	min-height: 100%;
	overflow: scroll;
	/* background-color: rgb(245, 242, 226); */
}

#mad_lib .sentence 
{
		position: relative;
		left: 0px;
		top: 0px;
		width: 85%;
		padding: 20% 5% 10% 10%;
}

#mad_lib .landing-word
{
	position: absolute;
	display: inline;

	background-color: white;

	padding: 3px;

	font-size: 64px;
	line-height: 64px;

	transition:left 0.5s ease-in;
	-webkit-transition:left 0.5s ease-in;

}

#mad_lib .delete-word
{
	position: absolute;
	display: inline;

	background-color: white;

	padding: 3px;

	font-size: 64px;
	line-height: 64px;

	transition:left 0.5s ease-in;
	-webkit-transition:left 0.5s ease-in;

	transition:top 1.0s ease-in;
	-webkit-transition:top 1.0s ease-in;

}

#mad_lib .space-word
{
	position: absolute;
	display: inline;

	background-color: white;

	font-size: 64px;
	line-height: 64px;

	width: 36px;
}

#mad_lib .top-tween
{
	transition:top 0.5s linear;
	-webkit-transition:top 0.5s linear;
}

#mad_lib .opacity-tween
{
	transition:opacity 0.5s linear;
	-webkit-transition:opacity 0.5s linear;
}

#mad_lib .color-tween
{
	transition:color 1.0s linear;
	-webkit-transition:color 1.0s linear;
}

#mad_lib .bgcolor-tween
{
	transition:background-color 1.0s linear;
	-webkit-transition:background-color 1.0s linear;
}

#mad_lib .white
{
	color: rgb(245, 242, 226);
}

#mad_lib .bg-white
{
	background-color: rgb(186, 177, 158);
}

