#oh-scope {
}

#oh-scope .container {
	position: relative;
	width: 100%;
	height: 100%;
}

#oh-scope .marqueeCenter {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100px;
/*	width: 500px; */
	overflow: visible;
	border-top-style: solid;
	border-top-width: 2px;
	border-color: white;
	-webkit-transform-origin: 0% 0%;
	-webkit-animation: kf_marqueeCenter linear 30s infinite;
}

@-webkit-keyframes kf_marqueeCenter {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(-360deg);}
}

#oh-scope .marquee {
	z-index: -1;
	position: absolute;
	left: 0px;
	top: -40px;
	height: 80px;
	width: 100%;
	opacity: 1;
	color: white;
	font-size: 75px;
	overflow: visible;
	text-align: right;

	-webkit-transform-origin: 0% 50%;
	-webkit-animation: kf_marquee linear 30s 1;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes kf_marquee {
	0% {-webkit-transform: rotate(0deg); opacity: 0.75}
	1% {-webkit-transform: rotate(3.6deg); opacity: 0.33}
	12.5% {-webkit-transform: rotate(45deg); opacity: 0}
	100% {-webkit-transform: rotate(360deg); opacity: 0}
}

#oh-scope .particleCenter {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 0px;
	width: 0px;
	overflow: visible;
}

#oh-scope .particle {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 0px;
	opacity: 1;
	font-size: 18px;
	overflow: visible;
}

#oh-scope .word {
	position: absolute;
	left: 6px;
	top: -20px;
	height: 0px;
	width: 100px;
	overflow: visible;
}

#oh-scope .dot {
	position: absolute;
	left: -1px;
	top: -14px;
	height: 0px;
	width: 0px;
	overflow: visible;
}

#oh-scope .tower {
	-webkit-animation: kf_tower linear 30s infinite;
}

@-webkit-keyframes kf_tower {
	0% {color:rgb(128,255,128);}
	10% {color:rgb(0,64,0);}
	50% {color:rgb(0,64,0);}
	100% {color:rgb(0,64,0);}
}

#oh-scope .airfrance {
	-webkit-animation: kf_airfrance linear 30s infinite;
}

@-webkit-keyframes kf_airfrance {
	0% {color:rgb(255,64,64);}
	10% {color:rgb(128,0,0);}
	50% {color:rgb(128,0,0);}
	100% {color:rgb(128,0,0);}
}

#oh-scope .comair {
	-webkit-animation: kf_comair linear 30s infinite;
}

@-webkit-keyframes kf_comair {
	0% {color:rgb(64,64,255);}
	10% {color:rgb(0,0,128);}
	50% {color:rgb(0,0,128);}
	100% {color:rgb(0,0,128);}
}