#plot_erosion .container {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	min-height: 100%;
	overflow: scroll;
	
}

#plot_erosion .transcript 
{
	padding: 24px;
	
}

#plot_erosion .blank
{
	color: #FFBE73; /*tan*/
	text-shadow: 0 0 0 transparent;

	transition: opacity 5s ease-in, color 10s ease-in, text-shadow 10s linear;
	-webkit-transition: opacity 5s ease-in, color 10s ease-in, text-shadow 10s linear;		
}

#plot_erosion .punct
{
	color: #FFBE73; /*tan*/
	text-shadow: 0 0 0 transparent;

	transition: opacity 5s ease-in, color 10s ease-in, text-shadow 50s linear;
	-webkit-transition: opacity 5s ease-in, color 10s ease-in, text-shadow 50s linear;		
}

#plot_erosion .nocat
{
	color: #F23005; /*red*/
	text-shadow: 0 0 0 transparent;

	transition: opacity 5s ease-in, color 45s ease-in, text-shadow 45s linear;
	-webkit-transition: opacity 5s ease-in, color 45s ease-in, text-shadow 45s linear;		
}

#plot_erosion .work
{
	color: #0A7AA6; /*blue*/
	text-shadow: 0 0 0 transparent;

	transition: opacity 5s ease-in, color 35s ease-in, text-shadow 35s linear;
	-webkit-transition: opacity 5s ease-in, color 35s ease-in, text-shadow 35s linear;		
}

#plot_erosion .relig
{
	color: #FF8900; /*orange*/	
	text-shadow: 0 0 0 transparent;

	transition: opacity 5s ease-in, color 35s ease-in, text-shadow 35s linear;
	-webkit-transition: opacity 5s ease-in, color 35s ease-in, text-shadow 35s linear;		
}

#plot_erosion .relativ
{
	color: #FFB800; /*yellow*/
	text-shadow: 0 0 0 transparent;

	transition: opacity 5s ease-in, color 35s ease-in, text-shadow 35s linear;
	-webkit-transition: opacity 5s ease-in, color 35s ease-in, text-shadow 35s linear;		
}

#plot_erosion .size-48
{
	font-size: 48px;
}

