#radar {
}

/*

COLORS
background: #132613
field: #132613
radar: #80FF80
rings: #66CC66
fieldlines: #448744

tower_glow: #DADADA #DADADA
tower_light: #BFBFBF
tower_dark: #B3A4A4 #B3A4A4

airfrance_glow: #EF9800 #EF9800
airfrance_light: #E5950A #E5950A
airfrance_dark: #E08F00 #E08F00

comair_glow: #CF82F6 #CF82F6
comair_light: #C462F6 #C462F6
comair_dark: #B139EF #B139EF

*/

#radar .container {
	z-index: 0;
	position: relative;
	background-color: #132613;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
	font-family: courier;
}

#radar .ringCenter {
	z-index: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100px;
	width: 500px;
	overflow: visible;
}

#radar .ring1 {
	z-index: +1;
	position: absolute;
	background-color: #66CC66;
	border-radius: 50%;
}

#radar .ring2 {
	z-index: +1;
	position: absolute;
	background-color: #132613;
	border-radius: 50%;
}

#radar .line {
	z-index: +1;
	position: absolute;
	background-color: #66CC66;
}

#radar .timer {
	position: absolute;
	left: 0px;
	top: 0px;

	-webkit-animation: kf_timer linear 30s infinite;
}

@-webkit-keyframes kf_timer {
	0% {width: 0px;}
	100% {width: 3600px;}
}

#radar .marqueeCenter {
	z-index: +4;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100px;
/*	width: 500px; */
	overflow: visible;
	border-top-style: solid;
	border-top-width: 4px;
	border-color: #80FF80;
	color:  #80FF80;
	-webkit-transform-origin: 0% 0%;
	-webkit-animation: kf_marqueeCenter linear 30s infinite;
}

@-webkit-keyframes kf_marqueeCenter {
	0% {-webkit-transform: rotate(0deg); left: 50%; top: 50%;}
	100% {-webkit-transform: rotate(-360deg); left: 50%; top: 50%;}
}

#radar .marquee {
	z-index: +3;
	position: absolute;
	left: 0px;
	top: -40px;
	height: 80px;
	width: 100%;
	opacity: 1;
	font-size: 4.0em;
	overflow: visible;
	text-align: right;

	-webkit-transform-origin: 0% 50%;
	-webkit-animation: kf_marquee linear 30s 1;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes kf_marquee {
	0% {-webkit-transform: rotate(0deg); opacity: 0.75}
	1% {-webkit-transform: rotate(3.6deg); opacity: 0.33}
	25% {-webkit-transform: rotate(90deg); opacity: 0}
	100% {-webkit-transform: rotate(360deg); opacity: 0}
}

#radar .particleCenter {
	z-index: +2;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 0px;
	width: 0px;
	overflow: visible;
}

#radar .particle {
	z-index: +2;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 0px;
	opacity: 1;
	font-size: 18px;
	overflow: visible;

	-webkit-transition: left 30s linear, top 30s linear;;
}

#radar .word {
	z-index: +2;
	position: absolute;
	left: 10px;
	top: -25px;
	height: 0px;
	width: 100px;
	overflow: visible;
}

#radar .dot {
	z-index: +2;
	position: absolute;
	left: -1px;
	top: -14px;
	height: 0px;
	width: 0px;
	overflow: visible;
}

#radar .tower {
	-webkit-animation: kf_tower linear 30s 1;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes kf_tower {
	0% {color: #DADADA; text-shadow: 0px 0px 10px #DADADA; opacity: 1.0;}
	2% {color: #BFBFBF; text-shadow: 0px 0px 0px #BFBFBF; opacity: 1.0;}
	5% {color: #B3A4A4; text-shadow: 0px 0px 0px #B3A4A4; opacity: 1.0;}
	95% {color: #B3A4A4; text-shadow: 0px 0px 0px #B3A4A4; opacity: 1.0;}
	98% {color: #B3A4A4; text-shadow: 0px 0px 0px #B3A4A4; opacity: 0;}
	100% {color: #B3A4A4; text-shadow: 0px 0px 0px #B3A4A4; opacity: 0;}
}

#radar .airfrance {
	-webkit-animation: kf_airfrance linear 30s 1;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes kf_airfrance {
	0% {color: #EF9800; text-shadow: 0px 0px 10px #EF9800; opacity: 1.0;}
	2% {color: #E5950A; text-shadow: 0px 0px 0px #E5950A; opacity: 1.0;}
	5% {color: #E08F00; text-shadow: 0px 0px 0px #E08F00; opacity: 1.0;}
	95% {color: #E08F00; text-shadow: 0px 0px 0px #E08F00; opacity: 1.0;}
	98% {color: #E08F00; text-shadow: 0px 0px 0px #E08F00; opacity: 0;}
	100% {color: #E08F00; text-shadow: 0px 0px 0px #E08F00; opacity: 0;}
}

#radar .comair {
	-webkit-animation: kf_comair linear 30s 1;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes kf_comair {
	0% {color: #CF82F6; text-shadow: 0px 0px 10px #CF82F6; opacity: 1.0;}
	2% {color: #C462F6; text-shadow: 0px 0px 0px #C462F6; opacity: 1.0;}
	5% {color: #B139EF; text-shadow: 0px 0px 0px #B139EF; opacity: 1.0;}
	95% {color: #B139EF; text-shadow: 0px 0px 0px #B139EF; opacity: 1.0;}
	98% {color: #B139EF; text-shadow: 0px 0px 0px #B139EF; opacity: 0;}
	100% {color: #B139EF; text-shadow: 0px 0px 0px #B139EF; opacity: 0;}
}