#radar {
}

/*

COLORS
background: #666666
field: #444444
fieldlines: #333333
radar: #80FF80

tower_glow: #FFFFFF
tower_light: #BFBFBF
tower_dark: #808080

airfrance_glow: #FF4040
airfrance_light: #FF0000
airfrance_dark: #BF0000

comair_glow: #4040FF
comair_light: #0000FF
comair_dark: #0000BF

*/

#radar .container {
	z-index: 0;
	position: relative;
	background-color: #666666;
	width: 100%;
	height: 100%;
	text-transform:lowercase;
}

#radar .ring1 {
	z-index: +1;
	position: absolute;
	background-color: #333333;
	border-radius: 50%;
}

#radar .ring2 {
	z-index: +1;
	position: absolute;
	background-color: #444444;
	border-radius: 50%;
}

#radar .timer {
	position: absolute;
	left: 0px;
	top: 0px;

	-webkit-animation: kf_timer linear 30s infinite;
}

@-webkit-keyframes kf_timer {
	0% {width: 0px;}
	100% {width: 3600px;}
}


#radar .marqueeCenter {
	z-index: +4;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100px;
/*	width: 500px; */
	overflow: visible;
	border-top-style: solid;
	border-top-width: 4px;
	border-color: #80FF80;
	color:  #80FF80;
	-webkit-transform-origin: 0% 0%;
	-webkit-animation: kf_marqueeCenter linear 30s infinite;
}

@-webkit-keyframes kf_marqueeCenter {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(-360deg);}
}

#radar .marquee {
	z-index: +3;
	position: absolute;
	left: 0px;
	top: -40px;
	height: 80px;
	width: 100%;
	opacity: 1;
	font-size: 75px;
	overflow: visible;
	text-align: right;

	-webkit-transform-origin: 0% 50%;
	-webkit-animation: kf_marquee linear 30s 1;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes kf_marquee {
	0% {-webkit-transform: rotate(0deg); opacity: 0.75}
	1% {-webkit-transform: rotate(3.6deg); opacity: 0.33}
	12.5% {-webkit-transform: rotate(45deg); opacity: 0}
	100% {-webkit-transform: rotate(360deg); opacity: 0}
}

#radar .particleCenter {
	z-index: +2;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 0px;
	width: 0px;
	overflow: visible;
}

#radar .particle {
	z-index: +2;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 0px;
	opacity: 1;
	font-size: 18px;
	overflow: visible;

	-webkit-transition: left 30s linear, top 30s linear;;
}

#radar .word {
	z-index: +2;
	position: absolute;
	left: 6px;
	top: -20px;
	height: 0px;
	width: 100px;
	overflow: visible;
}

#radar .dot {
	z-index: +2;
	position: absolute;
	left: -1px;
	top: -14px;
	height: 0px;
	width: 0px;
	overflow: visible;
}

#radar .tower {
	-webkit-animation: kf_tower linear 30s 1;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes kf_tower {
	0% {color: #FFFFFF; text-shadow: 0px 0px 5px #FFFFFF;}
	2% {color: #BFBFBF; text-shadow: 0px 0px 0px #BFBFBF;}
	5% {color: #808080; text-shadow: 0px 0px 0px #808080;}
	96% {color: #808080; text-shadow: 0px 0px 0px #808080;}
	98% {color: #444444; text-shadow: 0px 0px 0px #444444;}
	100% {color: #444444; text-shadow: 0px 0px 0px #444444;}
}

#radar .airfrance {
	-webkit-animation: kf_airfrance linear 30s 1;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes kf_airfrance {
	0% {color: #FF4040; text-shadow: 0px 0px 5px #FF4040;}
	2% {color: #FF0000; text-shadow: 0px 0px 0px #FF0000;}
	5% {color: #BF0000; text-shadow: 0px 0px 0px #BF0000;}
	96% {color: #BF0000; text-shadow: 0px 0px 0px #BF0000;}
	98% {color: #444444; text-shadow: 0px 0px 0px #444444;}
	100% {color: #444444; text-shadow: 0px 0px 0px #444444;}
}

#radar .comair {
	-webkit-animation: kf_comair linear 30s 1;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes kf_comair {
	0% {color: #4040FF; text-shadow: 0px 0px 5px #4040FF;}
	2% {color: #0000FF; text-shadow: 0px 0px 0px #0000FF;}
	5% {color: #0000BF; text-shadow: 0px 0px 0px #0000BF;}
	96% {color: #0000BF; text-shadow: 0px 0px 0px #0000BF;}
	98% {color: #444444; text-shadow: 0px 0px 0px #444444;}
	100% {color: #444444; text-shadow: 0px 0px 0px #444444;}
}