#rainbow_sort .container {
	height:100%;
	width:40px;
	left:0px;
	color:red;
	position:absolute;
}

#rainbow_sort .container2 {
	height:100%;
	width:70px;
	left:40px;	
	color:orange;
	position:absolute;	
}

#rainbow_sort .container3 {
	height:100%;
	width:100px;
	left:110px;	
	color:yellow;
	position:absolute;	
}

#rainbow_sort .container4 {
	height:100%;
	width:130px;
	left:210px;			
	color:lime;
	position:absolute;	
}

#rainbow_sort .container5 {
	height:100%;
	width:160px;
	left:340px;		
	color:aqua;
	position:absolute;	
}

#rainbow_sort .container6 {
	height:100%;
	width:190px;
	left:500px;			
	color:blue;
	position:absolute;	
}

#rainbow_sort .container7 {
	height:100%;
	width:220px;
	left:690px;
	color:purple;
	position:absolute;	
}

#rainbow_sort .container8 {
	height:100%;
	width:250px;
	left:910px;	
	color:magenta; 
	position:absolute;
}

#rainbow_sort .container9 {
	height:100%;
	width:280px;
	left:1160px;
	color:rgb(238,130,238);
	position:absolute;	
}

#rainbow_sort .container10 {
	height:100%;
	width:310px;
	left:1440px;	
	color:white;
	position:absolute;
}

#rainbow_sort .bigText{
	position:absolute;
	top:0px;
	font-size: 60px;

	transition: color 25s ease-out, opacity .5s linear, top 0.1s ease-in;
	-webkit-transition: color 25s ease-out, opacity .5s linear, top 0.1s ease-in;
}	