#stretch_bands .bucket {
	position: relative;
	height: 98%; /*WHAT?*/
	background-color: red;
}

#stretch_bands .container1 {
	position: absolute;
	width: 100%;
	height: 25%;
	top: 0%;
	left: 0%;
	text-transform: uppercase;
	font-size: 100px;
}

#stretch_bands .container2 {
	position: absolute;
	width: 100%;
	height: 25%;
	top: 25%;
	left: 0%;
	text-transform: uppercase;
	font-size: 100px;
}

#stretch_bands .container3 {
	position: absolute;
	width: 100%;
	height: 25%;
	top: 50%;
	left: 0%;
	text-transform: uppercase;
	font-size: 100px;
}

#stretch_bands .container4 {
	position: absolute;
	width: 100%;
	height: 25%;
	top: 75%;
	left: 0%;
	text-transform: uppercase;
	font-size: 100px;
}

#stretch_bands .word {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 1;
}