#template_paragraph .container {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	min-height: 100%;
	overflow: scroll;
	background-color: rgb(50, 50, 50);
	color: rgb(240, 240, 240);
}

#template_paragraph .transcript 
{
	padding: 24px;
}

#template_paragraph .posemo
{
	color: rgb(193,250,164);
}

#template_paragraph .negemo
{
	color: rgb(255,161,92);
}

#template_paragraph .size-48
{
	font-size: 48px;
}

