/*

#template_leftScroll should be changed 
to match the name of your transform files.
This is how we avoid CSS naming collisions.

*/

#template_leftScroll .topContainer {
	position:relative;
	width:4000px;
	height:100%;
	background-color:rgb(50,50,50);
}

#template_leftScroll .scroller {
	position:absolute;
	height:100px;
	left:0px;
	
	transition:left 1.0s linear;
	-webkit-transition:left 1.0s linear;
	
	margin: 140px 0px 0px 200px;
	padding: 10px;
}


#template_leftScroll .scrollword {
	font-size: 120px;

	transition:color 1.0s linear;
	-webkit-transition:color 1.0s linear;
	padding: 1px;
}