/*

#template_wordStack should be changed 
to match the name of your transform files.
This is how we avoid CSS naming collisions.

*/

#template_wordStack .container {
	width:5000px;	
	min-height:100%;
	background-color: rgb(50,50,50);
	overflow:auto;
}

#template_wordStack .bigText {
	position: absolute;
	font-size: 72px;
	line-height: 80px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	width:5000px;	
	
	transition: top 0.5s ease-in, opacity 1s linear;
	-webkit-transition: top 0.5s ease-in, opacity 1s linear;
}	

#template_wordStack .white {
	color: rgb(240,240,240);
}

