#scroll_ticker .topContainer {
	position:relative;
	width:4000px;
	height:100%;
	background-color:rgb(20,20,20);
}

#scroll_ticker .scroller {
	position:absolute;
	height:100px;
	left:0px;
	transition:left 1.0s linear;
	-webkit-transition:left 1.0s linear;
	margin: 0px 0px 0px 200px;
}


#scroll_ticker .scrollword {
	font-size: 120px;

	transition:color 1.0s linear;
	-webkit-transition:color 1.0s linear;
}